$media-m: 768px;
$text-primary: #777;
$accent-primary: #58e1c1;
$link-primary: #51ddfc;
$button-error: #e4757a;
$button-info: #927bc1;
$button-success: #63cc82;
$button-warn: #fd7856;
$white: #fff;
$light-gray: #ccc;
$col-3-color: #deb2ee;
$col-4-color: #7ee6fd;
$col-5-color: #88d9a0;
$col-6-color: #4da2bb;
$col-7-color: #ec9fa3;
$col-8-color: #fd9f85;
$col-10-color: #63cc82;
$col-11-color: #80e8d1;