/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .5s;
}

.default {
  @include lighter($link-primary);
}

.error {
  @include lighter($button-error);
}

.info {
  @include lighter($button-info);
}

.success {
  @include lighter($button-success);
}

.warning {
  @include lighter($button-warn);
}